
.user-button {
  margin-right: 8px;
  background-color: white;
  color: black;
}

.home-button {
    margin-right: 8px;
    font: bold;
    font-size: 26px;
}

.user-icon {
    padding: 0 14px;
}
  
.ribbon-button {
    color: var(--accent-color);
}

.ribbon-spacer {
    flex: 1 1 auto;
}

.ribbon {    
    background-color: var(--secondary-color);
    background-image: linear-gradient(rgb(128, 128, 128), var(--secondary-color));
    padding: 0px, 0px, 10px, 0px;
    margin: 0px, 0px, 10px, 0px;
    color: var(--accent-color);
    /* box-shadow: var(--thin-shadow); */
}

.ribbon-font {
    font-weight: 700;
}

.container {
    width: var(--container-wd);
    margin: auto;
    display: flex;
}
