
.user-button {
  margin-right: 8px;
  background-color: var(--secondary-color);
}

.home-button {
    margin-right: 8px;
    background-color: var(--primary-color);
    font: bold;
    font-size: 26px;
}

.user-icon {
    padding: 0 14px;
}
  
.ribbon-button {
}

.ribbon-spacer {
    flex: 1 1 auto;
}

.ribbon {
    background-color: var(--primary-color);
    padding: 0px, 0px, 10px, 0px;
    margin: 0px, 0px, 10px, 0px;
    box-shadow: var(--thin-shadow);
}

.ribbon-font {
    font-weight: 700;
}
