table {
    width: 100%;
}
tr.mat-footer-row {
    font-weight: bold;
}
td.mat-footer-cell {
    text-align: center;
}
th.mat-header-cell {
    text-align: center;
}

/* .mat-cell {
    text-align: center;
} */

.table-font {
    font-size: 11px;
    text-align: center;
}

.clickable-cell {
    font: bold;
    cursor: pointer;
    color: rgb(69, 42, 165);
}

.clickable-cell:hover {
    font: bold;
    cursor: pointer;
}

.details-card {
    box-shadow: var(--card-shadow);
    min-height: 1000px;
}

.detail-card {
    align-content: center;
    margin: auto;
}

.year-table {
    
}

.basic-detail-section {
    display: flex;
    height: 350px;
}

.section-card {
    background-color: var(--object-color);
    color: var(object-text-color);
    margin: 10px;
    padding: 8px;
}

.analytics-section {
    display: flex;
    justify-content: center;
}

.image-card {
    width: 220px;
    justify-content: center;
    padding-left: 10px;
}

.specific-img {
    max-width: 190px;
    max-height: 280px;
    justify-content: center;
    margin-left: 0px;
}

.statRow {
    display: flex;
    min-height: 25px;
}

.statName {
    width: 95px;
    text-align: right;
}

.statValue {
    width: 145px;
    padding-left: 12px;
}


.header-row {
    display: flex;
    height: fit-content;
    background-color: var(--object-color-brighter);
    margin-bottom: 12px;
    background-color: var(--primary-color);
}


.record-block {
    display: flex;
    font-size: 24px;
    text-align: center;
    color: var(--accent-color);
    margin: auto;
    margin-right: 10px;
}

.header-name {
    font-size: 16px;
    text-align: center;
    color: var(--object-bg);
    margin: auto;
    margin-right: 6px;
    margin-left: 10px;
}

.header-value {
    font-size: 16px;
    text-align: center;
    color: var(--accent-color);
    margin: auto;
}

