<div *ngIf="team">
    <mat-card class="team-card">

        <div class="basic-detail-section section-card-">
            
            <mat-card class="section-card image-card">
                <mat-card-title>
                    {{team.name}}
                </mat-card-title>

                <img mat-card-image src='../../../assets/images/team/logo/{{team.name}}.png' alt="Detailed Picture" class="specific-img">
            </mat-card>

            <mat-card class="detail-card section-card">
                
                <mat-card class="header-row">

                    <div class="record-block">
                        {{team.winPct}} | {{team.wins}} - {{team.losses}} - {{team.draws}}
                    </div>

                    <div class="statRow">
                        <div class="header-name">Manager</div>
                        <div class="header-value">{{manager.name}}</div>
    
                        <div class="header-name">Season</div>
                        <div class="header-value">{{season.name}}</div>
                    </div>

                </mat-card>
                
              
                <div class="statRow">
                    <div class="statName">Runs For</div>
                    <div class="statValue">{{team.pointsFor}}</div>

                    <div class="statName">Runs Agnst</div>
                    <div class="statValue">{{team.pointsAgainst}}</div>
                </div>

            </mat-card>

        </div>



        <div class="analytics-section">
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
        </div>


        <!-- displayedColumns: string[] = ['PA', 'AB', 'H', 'DB', 'TB', 'HR', 'R', 'RBI', 'SO', 'BBFC', 'SB', 'IP', 'ER', 'K', 'W', 'L', 'AVG', 'OBP', 'SLUG', 'OPS', 'ERA', 'K5']; -->

        <div class="performance-section">
            <mat-card class="table-card section-card">
                <mat-card-title>Team Stats</mat-card-title>
                <table mat-table [dataSource]="playerStats" matSort matSortActive="PA" matSortDisableClear matSortDirection="desc" class="year-table">
  
                    <ng-container matColumnDef="Player">
                        <th mat-header-cell *matHeaderCellDef> Character Name </th>
                        <td mat-cell *matCellDef="let element" (click)="onNameClick(element.player)" class="clickable-cell"> <div class="table-font">{{getShortenedCharacterName(element.player)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> Team Total </td>
                    </ng-container>

                    <ng-container matColumnDef="PA">
                        <th mat-header-cell *matHeaderCellDef> PA </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.PA}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('PA')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="AB">
                        <th mat-header-cell *matHeaderCellDef> AB </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.AB}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('AB')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="H">
                        <th mat-header-cell *matHeaderCellDef> H </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.H}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('H')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="DB">
                        <th mat-header-cell *matHeaderCellDef> DB </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.DB}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('DB')}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="TB">
                        <th mat-header-cell *matHeaderCellDef> TB </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.TB}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('TB')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="HR">
                        <th mat-header-cell *matHeaderCellDef> HR </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.HR}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('HR')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="R">
                        <th mat-header-cell *matHeaderCellDef> R </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.R}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('R')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="RBI">
                        <th mat-header-cell *matHeaderCellDef> RBI </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.RBI}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('RBI')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="SO">
                        <th mat-header-cell *matHeaderCellDef> SO </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.SO}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('SO')}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="AVG">
                        <th mat-header-cell *matHeaderCellDef> AVG </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.AVG)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('AVG')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="OBP">
                        <th mat-header-cell *matHeaderCellDef> OBP </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.OBP)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('OBP')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="SLUG">
                        <th mat-header-cell *matHeaderCellDef> SLUG </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.SLUG)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('SLUG')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="OPS">
                        <th mat-header-cell *matHeaderCellDef> OPS </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.OPS)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('OPS')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="BBFC">
                        <th mat-header-cell *matHeaderCellDef> BBFC </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.BBFC}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('BBFC')}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="SB">
                        <th mat-header-cell *matHeaderCellDef> SB </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.SB}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('SB')}} </td>
                    </ng-container> -->
                    
 
                    
                    <!-- <ng-container matColumnDef="W">
                        <th mat-header-cell *matHeaderCellDef> W </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.W}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('W')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="L">
                        <th mat-header-cell *matHeaderCellDef> L </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.L}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('L')}} </td>
                    </ng-container> -->
                    
 

                    <ng-container matColumnDef="IP">
                        <th mat-header-cell *matHeaderCellDef> IP </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.IP}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('IP')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ER">
                        <th mat-header-cell *matHeaderCellDef> ER </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.ER}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('ER')}} </td>
                    </ng-container>

                    <ng-container matColumnDef="K">
                        <th mat-header-cell *matHeaderCellDef> K </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.K}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('K')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="ERA">
                        <th mat-header-cell *matHeaderCellDef> ERA </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.ERA)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('ERA')}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="K5">
                        <th mat-header-cell *matHeaderCellDef> K5 </th>
                        <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.K5)}}</div> </td>
                        <td mat-footer-cell *matFooterCellDef> {{getColumnTotal('K5')}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>

        <!-- displayedColumns: string[] = ['PA', 'AB', 'H', 'DB', 'TB', 'HR', 'R', 'RBI', 'SO', 'BBFC', 'SB', 'IP', 'ER', 'K', 'W', 'L', 'AVG', 'OBP', 'SLUG', 'OPS', 'ERA', 'K5']; -->

            </mat-card>
        </div>

    </mat-card>    
</div>
