<div matRipple [matRippleCentered]="true" (click)="onRosterListItemClick()">
    <ng-content></ng-content>
    
    <div *ngIf="isSelected; else notSelected">

        <mat-card class="character-rect-selected">
            <div class="left-col">
                <!-- <div class="character-id"><div class="character-id-text">{{getNumber(character)}}</div></div> -->
                
                <img class="character-header-image" src="../../assets/images/character/mugshot/{{character.name}}.png" alt="Picture of {{character.name}}">
            </div>   

            <div class="right-col">
                
                <div class="right-col-top">
                    <div *ngIf="showCaptainSymbol()" class="captain-symbol">C</div>
                    <div class="character-name">{{getShortenedCharacterName()}}</div>
                </div>
                

                <div class="right-col-bot">
                    <div class="stat-col-group">
                        <div class="stat-col">
                            <div class="stat-name">B</div>
                            <div class="stat-num">{{character.bat}}</div>
                        </div>
                        <div class="stat-col">
                            <div class="stat-name">R</div>
                            <div class="stat-num">{{character.run}}</div>
                        </div>
                        <div class="stat-col">
                            <div class="stat-name">F</div>
                            <div class="stat-num">{{character.field}}</div>
                        </div>
                        <div class="stat-col">
                            <div class="stat-name">P</div>
                            <div class="stat-num">{{character.pitch}}</div>
                        </div>
                    </div>
                </div>

            </div>
            
    </mat-card>
    </div>
        
    <ng-template #notSelected>
        <mat-card class="character-rect">     
            <div class="left-col">
                <!-- <div class="character-id"><div class="character-id-text">{{getNumber(character)}}</div></div> -->
                
                <img class="character-header-image" src="../../assets/images/character/mugshot/{{character.name}}.png" alt="Picture of {{character.name}}">
            </div>   

            <div class="right-col">

                <div class="right-col-top">
                    <div *ngIf="showCaptainSymbol()" class="captain-symbol">C</div>
                    <div class="character-name">{{getShortenedCharacterName()}}</div>
                </div>

                <div class="right-col-bot">
                    <div class="stat-col-group">
                        <div class="stat-col">
                            <div class="stat-name">B</div>
                            <div class="stat-num">{{character.bat}}</div>
                        </div>
                        <div class="stat-col">
                            <div class="stat-name">R</div>
                            <div class="stat-num">{{character.run}}</div>
                        </div>
                        <div class="stat-col">
                            <div class="stat-name">F</div>
                            <div class="stat-num">{{character.field}}</div>
                        </div>
                        <div class="stat-col">
                            <div class="stat-name">P</div>
                            <div class="stat-num">{{character.pitch}}</div>
                        </div>
                    </div>
                </div>

            </div>
                
        </mat-card>
    </ng-template>

</div>