.character-rect {
    display: flex;
    background-color: var(--object-bg);
    background-image: linear-gradient(to top left, var(--object-bg), white);
    color: var(--object-text-color);
    width: 160px;
    height: 40px;
    align-content: center;
    font-size: 12px;
    cursor: pointer;
    padding: 4px;
    /* border-radius: 8px; */
    margin: 12px;
}
.character-rect:hover {
    background-color: var(--object-bg-b);
    background-image: linear-gradient(to top left, var(--object-bg-b), white);
    box-shadow: var(--card-shadow);
    border-color: var(--accent-color);
    border-width: 3px;
    border-style: solid;
}

.character-rect-selected {
    display: flex;
    color: var(--object-text-color);
    width: 160px;
    height: 40px;
    align-content: center;
    font-size: 12px;
    cursor: pointer;
    padding: 4px;
    /* border-radius: 8px; */
    margin: 12px;

    background-color: var(--object-bg-b);
    background-image: linear-gradient(to top left, var(--object-bg-b), white);
    box-shadow: var(--card-shadow);
    border-color: var(--accent-color);
    border-width: 3px;
    border-style: solid;
}

.character-header-image {
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 8px;
    margin: 4px;
    border-color: rgb(139, 137, 137);
    /* border-width: 1px;
    border-style: solid; */
}

.character-name {
    font: bold;
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-bottom: 1px;
    color: var(--object-fancy-text-color);
}

.right-col {
    width: 100%;
}

.right-col-top {
    display: flex;
}

.right-col-bot {
    margin: auto;
}

.captain-symbol {
    font: bold;
    color: var(--alt-contrast-secondary-color);
}

.stat-col-group {
    display: flex;
    width: fit-content;
    margin: auto;
}

.left-col {
    color: var(--object-fancy-text-color);
    /* height: 54px; */
}

.stat-col {
    width: 20px;
}

.stat-name {
    font-size: 10px;
}

.stat-num {
    font-size: 12px;
}