<div class="home-card" *ngIf="colNumSet()">
    
    <div class="title-row" id="title">
        <div class="title">
            Characters (Stats and Ratings below Tiles)
        </div>
    </div>

    <mat-toolbar class="sort-bar">
        <div class="sort-text">Sort By:</div>
        <button mat-button (click)="sortByNumber()" class="sort-by-button">id</button>
        <button mat-button (click)="sortByName()" class="sort-by-button">name</button>
        <button mat-button (click)="sortByBatting()" class="sort-by-button">batting</button>
        <button mat-button (click)="sortByRunning()" class="sort-by-button">running</button>
        <button mat-button (click)="sortByFielding()" class="sort-by-button">fielding</button>
        <button mat-button (click)="sortByPitching()" class="sort-by-button">pitching</button>
        <button mat-button (click)="sortByRatingTotal()" class="sort-by-button">stat total</button>
        <button mat-button (click)="sortByRandom()" class="sort-by-button">shuffle</button>
    </mat-toolbar>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <div>
        <div #theContainer>
        <mat-grid-list cols="{{columnNum}}" rowHeight="135px">
            <mat-grid-tile
                *ngFor="let character of characters"
                [colspan]=1
                [rowspan]=1
                [style.background]="character.color"
                class="char-tile">

                <div matRipple [matRippleCentered]="true" (click)="onCharacterClick(character)">
                    <ng-content></ng-content>
                    <mat-card class="character">     
                        <div class="top-row">
                            <!-- <div class="character-id"><div class="character-id-text">{{getNumber(character)}}</div></div> -->
                            <img class="character-header-image" src="../../assets/images/character/mugshot/{{character.name}}.png" alt="Picture of {{character.name}}">
                            <div class="character-name">{{character.name}}</div>
                        </div>   
        
                        <div class="stat-section">
                            <div class="stat-col">
                                <app-sort-stat [sortStat]="getBatStat(character)"></app-sort-stat> 
                                <app-sort-stat [sortStat]="getRunStat(character)"></app-sort-stat> 
                                <!-- <app-sort-stat [sortStat]="getRatingTotal(character)"></app-sort-stat>  -->
                            </div>
    
                            <div class="stat-col">
                                <app-sort-stat [sortStat]="getFieldStat(character)"></app-sort-stat> 
                                <app-sort-stat [sortStat]="getPitchStat(character)"></app-sort-stat> 
                            </div>
                        </div>
                        
                        <!-- <app-sort-stat [name]="batting" [value]={{character.bat}} [primary]=false></app-sort-stat> -->
                    </mat-card>
                </div>

                
            </mat-grid-tile>
        </mat-grid-list></div>

        <div class="seperator"></div>

        
        <div class="title-row title">
            Character Stats
        </div>

        <ag-grid-angular 
            style="width: 100%; height: 500px;" 
            class="ag-theme-balham stat-table"
            [rowData]="playerStats" 
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
        >
        </ag-grid-angular>


        <div class="title-row title">
            Character Ratings
        </div>

        <ag-grid-angular 
        style="width: 100%; height: 500px;" 
        class="ag-theme-balham stat-table"
        [rowData]="playerRatings" 
        [columnDefs]="columnDefsRatings"
        [gridOptions]="gridOptionsRatings"
        >
        </ag-grid-angular>

        <!-- <table mat-table [dataSource]="playerStats" matSort matSortActive="PA" matSortDisableClear matSortDirection="desc" class="stats-table">

            <ng-container matColumnDef="Player">
                <th mat-header-cell *matHeaderCellDef> Character Name </th>
                <td mat-cell *matCellDef="let element" (click)="onNameClick(element.player)" class="clickable-cell"> <div class="table-font">{{getShortenedCharacterName(element.player)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> Average </td>
            </ng-container>

            <ng-container matColumnDef="PA">
                <th mat-header-cell *matHeaderCellDef> PA </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.PA}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('PA')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="AB">
                <th mat-header-cell *matHeaderCellDef> AB </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.AB}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('AB')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="H">
                <th mat-header-cell *matHeaderCellDef> H </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.H}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('H')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="DB">
                <th mat-header-cell *matHeaderCellDef> DB </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.DB}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('DB')}} </td>
            </ng-container>

            <ng-container matColumnDef="TB">
                <th mat-header-cell *matHeaderCellDef> TB </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.TB}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('TB')}} </td>
            </ng-container>

            <ng-container matColumnDef="HR">
                <th mat-header-cell *matHeaderCellDef> HR </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.HR}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('HR')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="R">
                <th mat-header-cell *matHeaderCellDef> R </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.R}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('R')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="RBI">
                <th mat-header-cell *matHeaderCellDef> RBI </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.RBI}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('RBI')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="SO">
                <th mat-header-cell *matHeaderCellDef> SO </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.SO}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('SO')}} </td>
            </ng-container>

            <ng-container matColumnDef="AVG">
                <th mat-header-cell *matHeaderCellDef> AVG </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.AVG)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('AVG')}} </td>
            </ng-container>

            <ng-container matColumnDef="OBP">
                <th mat-header-cell *matHeaderCellDef> OBP </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.OBP)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('OBP')}} </td>
            </ng-container>

            <ng-container matColumnDef="SLUG">
                <th mat-header-cell *matHeaderCellDef> SLUG </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.SLUG)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('SLUG')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="OPS">
                <th mat-header-cell *matHeaderCellDef> OPS </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.OPS)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('OPS')}} </td>
            </ng-container>

            <ng-container matColumnDef="BBFC">
                <th mat-header-cell *matHeaderCellDef> BBFC </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.BBFC}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('BBFC')}} </td>
            </ng-container>

            <ng-container matColumnDef="IP">
                <th mat-header-cell *matHeaderCellDef> IP </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.IP}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('IP')}} </td>
            </ng-container>

            <ng-container matColumnDef="ER">
                <th mat-header-cell *matHeaderCellDef> ER </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.ER}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('ER')}} </td>
            </ng-container>

            <ng-container matColumnDef="K">
                <th mat-header-cell *matHeaderCellDef> K </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{element.stats.K}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('K')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="ERA">
                <th mat-header-cell *matHeaderCellDef> ERA </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.ERA)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('ERA')}} </td>
            </ng-container>
            
            <ng-container matColumnDef="K5">
                <th mat-header-cell *matHeaderCellDef> K5 </th>
                <td mat-cell *matCellDef="let element"> <div class="table-font">{{formatDec(element.stats.K5)}}</div> </td>
                <td mat-footer-cell *matFooterCellDef> {{getColumnAvg('K5')}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table> -->

    <!-- displayedColumns: string[] = ['PA', 'AB', 'H', 'DB', 'TB', 'HR', 'R', 'RBI', 'SO', 'BBFC', 'SB', 'IP', 'ER', 'K', 'W', 'L', 'AVG', 'OBP', 'SLUG', 'OPS', 'ERA', 'K5']; -->

    </div>
</div>