.home-card {
    box-shadow: 0; 
    min-height: 1000px;
    background-color: var(--container-bg); 
}

.title {
    color: var(--object-fancy-text-color);
    font: bold;
    font-size: 28px;
    margin: 0 25px;
}

.title-row {
    display: flex;
} 
/* 
.char-tile {

    border-radius: 0px;
} */

.jump-button {
    color: var(--secondary-color);
    text-decoration: underline;
    margin: 0, 30px;
}

.character {
    background-color: var(--object-bg);
    background-image: linear-gradient(to top left, var(--object-bg), white);
    color: var(--object-text-color);
    width: 160px;
    height: 120px;
    align-content: center;
    font-size: 14px;
    cursor: pointer;
    padding: 4px;
    border-radius: 0px;
    margin: 12px;

}
.character:hover {
    background-color: var(--object-bg-b);
    box-shadow: var(--card-shadow);
    border-color: var(--accent-color);
    border-width: 3px;
    border-style: solid;
}

.character-name {
    font: bold;
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: var(--object-fancy-text-color);
}

.top-row {
    display: flex;
    height: 54px;
}

.character-id {
    background-color: var(--accent-color);
    color: var(--secondary-color); 
    height: 16px;
    width: 18px;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

.stat-col {

}

.stat-section {
    display: flex;
}

.character-header-image {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 8px;
    margin: 4px;
    border-color: rgb(139, 137, 137);
    /* border-width: 1px;
    border-style: solid; */
}

.character-id-text {
    margin: auto;

}

.sort-bar {
    background-color: var(--object-bg);
    color: var(--object-text-color);
    border-radius: 0px;
    margin: 16px auto;

}

.sort-by-button {
    background-color: var(--object-bg-b);
    color: black;
    box-shadow: var(--card-shadow);
    margin-right: 15px;
    margin: auto;
}

.sort-text {
    margin-right: 15px;
}

.seperator {
    height: 40px;
}

table {
    width: 100%;
    padding: 0;
    background-color: var(--object-bg);
}
tr.mat-footer-row {
    font-size: 9px;
    font-weight: bold;
}
td.mat-footer-cell {
    text-align: center;
    font-size: 9px;
    font-weight: bold;
}
th.mat-header-cell {
    text-align: center;
}
td.mat-cell {
    padding: 0;
}
td.mat-column {
    padding: 0;
}
td.mat-row {
    padding: 0;
    /* background-color: var(--object-bg-b); */
}
md-list-item, md-list-item .md-list-item-inner {
    padding: 0;
}
mat-list-item, mat-list-item .mat-list-item-inner {
    padding: 0;
}

.mat-row:nth-child(even) {
    background-color:var(--container-bg);
}

.mat-row:nth-child(odd) {
    background-color:var(--accent-color);
}

.table-card {
    background-color: var(--container-bg);
    color: var(--accent-color);
}

.table-font {
    font-size: 11px;
    text-align: center;
}

.clickable-cell {
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
    color: var(--object-fancy-text-color);
}

.clickable-cell:hover {
    font: bold;
    cursor: pointer;
}