.link-row button,
.link-row a {
  margin-right: 8px;
  color: var(--footer-link-color)
}

.cr-text {
    font-size: 10px;
    width: 80%;
    margin: auto;
}

.ribbon {
  margin: auto;
}

.footer {
    max-width: var(--headfoot-width);
    margin: auto;
}

.row {
  margin: auto;
}

.link-row {
  margin: auto;
}

