<div class="footer">
    <mat-toolbar class="ribbon">
        <!-- <mat-toolbar-row class="row">
            <div class="link-row">
                <a mat-button routerLink=".">Help/FAQ</a>
                <a mat-button routerLink=".">API</a>
                <a mat-button routerLink=".">Contact Us</a>
                <a mat-button routerLink=".">Design Reviews</a>
            </div>
        </mat-toolbar-row>

        <mat-toolbar-row class="row">
            <div class="cr-text"><br/>DGCR Copyright information can go here. There are a bunch of brands and images that belong to us.</div>
        </mat-toolbar-row> -->
        <div class="cr-text"><br/>MSSB Copyright information can go here. There are a bunch of brands and images that dont belong to us.</div>
    </mat-toolbar>
</div>
