.header-spacer {
    width: 100px;
    font: bold;
    font-size: 16px;
    text-align: center;
    color: var(--accent-color);
}

.tb-text {
    font-size: 13px;
    text-align: center;
    width: 100px;
    z-index: 5;

}

.tb-head {
    font: bolder;
    font-size: 18px;
    color: var(--accent-color);
}

.team-col {
    width: 150px;
    z-index: 5;
   
}


.title {
    color: var(--object-fancy-text-color);
    font: bold;
    font-size: 28px;
    margin: 25px 25px 0px;
}

.title-row {
    display: flex;
} 

.mat-list-item {
    z-index: 5;
}

.clickable {
    text-decoration: underline;
    z-index: 10;
}
.clickable :hover {
    cursor: pointer !important;
    z-index: 10;
    background-color: rgb(177, 255, 236);
}