<mat-card class="login-card">
    <mat-card-content>
        <div class="login-form-card">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Log In</mat-card-title>
                </mat-card-header>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="form-row">
                        <div class="form-group col-5">
                            <mat-form-field>
                                <input matInput placeholder="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">First Name is required</div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <mat-form-field>
                                <input matInput placeholder="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="text-center">
                        <button mat-button class="submit-button">Submit</button>
                    </div>

                </form>
                
            </mat-card>
        </div>


        <mat-accordion class="register-panel">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Not a member yet?? Register a new account here!
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-register></app-register>
            
            </mat-expansion-panel>
        </mat-accordion>






    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>
