.header-spacer {
    width: 100px;
    font: bold;
    font-size: 16px;
    text-align: center;
    color: var(--accent-color);
}

.tb-text {
    font-size: 13px;
    text-align: center;
    width: 100px;
}

.tb-head {
    font: bolder;
    font-size: 18px;
    color: var(--object-fancy-text-color);
}

.team-col {
    width: 150px;
}

.info-section {
    background-color: var(--object-color-brighter);
    color: var(--object-text-color);
    margin: 25px;
}

.tabs {
    background-color: var(--object-color);
    color: var(--object-fancy-text-color);
}

.seasons-card {    
    background-color: var(--background-color);
    color: var(--object-text-color);
}

.season-tab {

    color: var(--object-fancy-text-color);
}