.footer-spacer{
    margin-top: 10px;
    max-width: var(--headfoot-width);
}
.header-spacer{
    margin-top: 10px;
    max-width: var(--headfoot-width);
}
.divider {
    max-width: var(--headfoot-width);    
}