<div class="container">

    <div class="main-line">
        Welcome to the MSSB Web App
    </div>

    <div class="current-features">

        <div class="feature-line">Current Features</div>
        <ul class="feature-list">
            <li class="feature-item">Character Stats for Summer Seasons</li>
            <li class="feature-item">Manager Stats for Summer Seasons</li>
            <li class="feature-item">Character Ratings</li>
        </ul>

    </div>

    <div class="feedback-line">
        Send any ideas/feedback to Branson
    </div>

</div>