<div class="container">

    <div class="main-line">
        Welcome to the MSSB Web App
    </div>

    <div class="current-features">

        <div class="feature-line">Current Features</div>
        <ul class="feature-list">
            <li class="feature-item">Character Ratings and Stats for Summer Seasons</li>
            <li class="feature-item">Human Stats for Summer Seasons (Each person = Manager)</li>
            <li class="feature-item">Random Team Creator / Team Match Up Creator</li>
        </ul>

    </div>

    <div class="feedback-line">
        Send any ideas/feedback to Branson
    </div>

</div>