<div [hidden]=false>
    <mat-card class="teams-card">
    
        <div class="team-section">
            <mat-card class="table-card section-card">
                <mat-card-title>{{title}}</mat-card-title>
                <table mat-table [dataSource]="dataSource" matSort class="team-table">


                    <!-- 'name', 'number', 'info', 'bat', 'draws' -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                        <td mat-cell *matCellDef="let team" (click)="onNameClick(team)" class="clickable-cell"> {{team.name}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="winPct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> W% </th>
                        <td mat-cell *matCellDef="let team"> {{team.winPct}} </td>
                    </ng-container>

                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> W </th>
                        <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="losses">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> L </th>
                        <td mat-cell *matCellDef="let team"> {{team.losses}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="draws">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> D </th>
                        <td mat-cell *matCellDef="let team"> {{team.draws}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>

    </mat-card>    
</div>