.teams-card {
    box-shadow: none; 
    min-height: 1000px;
    background-color: var(--container-bg); 
}

.title {
    color: var(--accent-color);
    font: bold;
    font-size: 28px;
    margin: 0 25px 16px 25px;
}

.title-row {
    display: flex;
} 

table {
    width: 100%;
}

.detail-card {
    box-shadow: var(--card-shadow);
    min-height: 1000px;
    margin: auto;
}

th.mat-sort-header-sorted {
    color: black;
}

.team-table {
    
}

.basic-detail-section {
    display: flex;
    height: 350px;
    justify-content: center;
}

.section-card {
    background-color: var(--object-color);
    color: var(object-text-color);
    margin: auto;
    padding: 8px;
    
    justify-content: center;
}

.clickable-cell {
    font: bold;
    cursor: pointer;
    color: rgb(69, 42, 165);
}

.clickable-cell:hover {
    font: bold;
    cursor: pointer;
}
