<div *ngIf="character">
    <mat-card class="character-card">

        <div class="basic-detail-section section-card-">
            
            <mat-card class="section-card image-card">
                <mat-card-title>
                    {{character.name}}
                </mat-card-title>

                <img mat-card-image src='../../../assets/images/character/main/{{character.name}}.png' alt="Detailed Picture" class="specific-img">
            </mat-card>

            <mat-card class="detail-card section-card">
                
                <div class="statRow">
                    <div class="statName">Batting</div>
                    <div class="statValue">{{character.bat}}</div>

                    <div class="statName">Running</div>
                    <div class="statValue">{{character.run}}</div>
                </div>
                
                <div class="statRow">
                    <div class="statName">Fielding</div>
                    <div class="statValue">{{character.field}}</div>
                    
                    <div class="statName">Pitching</div>
                    <div class="statValue">{{character.pitch}}</div>
                </div>
                                
                <div class="statRow">
                    <div class="statName">Lean</div>
                    <div class="statValue">{{character.lean}}</div>

                    <div class="statName">Con Zone</div>
                    <div class="statValue"><app-tri-val [value]=character.zone></app-tri-val></div>
                </div>
                                
                <div class="statRow">
                    <div class="statName">Reach Out</div>
                    <div class="statValue">{{character.reachOut}}</div>

                    <div class="statName">Reach In</div>
                    <div class="statValue">{{character.reachIn}}</div>
                </div>
                                
                <div class="statRow">
                    <div class="statName">Diving</div>
                    <div class="statValue"><app-tri-val [value]=character.dive></app-tri-val></div>

                    <div class="statName">Jumping</div>
                    <div class="statValue"><app-tri-val [value]=character.jump></app-tri-val></div>
                </div>
        
                <div class="statRow">
                    <div class="statName">Arm</div>
                    <div class="statValue"><app-tri-val [value]=character.arm></app-tri-val></div>

                    <div class="statName">Size</div>
                    <div class="statValue"><app-tri-val [value]=character.size></app-tri-val></div>
                </div>

                <div class="statRow">
                    <div class="statName">Chemistry</div>
                    <div class="statValue">{{character.chemistry}}</div>

                    <div class="statName">Ability</div>
                    <div class="statValue">{{character.ability}}</div>
                </div>
    
                <div class="statRow">
                    <div class="statName">Pch Stamina</div>
                    <div class="statValue">{{character.stamina}}</div>

                    <div class="statName">Pch Curve</div>
                    <div class="statValue">{{character.curve}}</div>
                </div>
                                
                <div class="statRow">
                    <div class="statName">Change Up</div>
                    <div class="statValue">{{character.changeIp}}</div>

                    <div class="statName">Pch Velocity</div>
                    <div class="statValue">{{character.velocity}}</div>
                </div>
        
                <div class="statRow">
                    <div class="statName">Description</div>
                    <div class="statValue">{{character.description}}</div>

                    <div class="statName">Orig. Game</div>
                    <div class="statValue">{{character.originGroup}}</div>
                </div>

            </mat-card>

        </div>



        <div class="analytics-section">
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
            <app-analytic-block [analyticBlock]="analyticBlock1"></app-analytic-block>
        </div>



        <div class="performance-section">
            <mat-card class="table-card section-card">
                <table mat-table [dataSource]="seasons" class="year-table">
                    <!-- Position Column -->
                    <ng-container matColumnDef="num1">
                        <th mat-header-cell *matHeaderCellDef> year </th>
                        <td mat-cell *matCellDef="let element"> {{element.num1}} </td>
                    </ng-container>
                    
                    <!-- Name Column -->
                    <ng-container matColumnDef="num2">
                        <th mat-header-cell *matHeaderCellDef> num1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.num2}} </td>
                    </ng-container>
                    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="num3">
                        <th mat-header-cell *matHeaderCellDef> num3 </th>
                        <td mat-cell *matCellDef="let element"> {{element.num3}} </td>
                    </ng-container>
                    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="num4">
                        <th mat-header-cell *matHeaderCellDef> num4 </th>
                        <td mat-cell *matCellDef="let element"> {{element.num4}} </td>
                    </ng-container>
    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="num5">
                        <th mat-header-cell *matHeaderCellDef> num5 </th>
                        <td mat-cell *matCellDef="let element"> {{element.num5}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>

    </mat-card>    
</div>
