<mat-card class="match-up-card">

    <div class="rosters-section">
            
        <mat-card class="roster-col">

            <div class="roster-col-options">
                <button mat-button class="random-buttom" (click)="fillRandom('left')">Fill Random</button>
                <button mat-button class="random-buttom" (click)="clearRoster('left')">Clear</button>
            </div>

            <div class="roster">
                <div class="roster-header" *ngIf="!isFirstSlotCaptain('left')" >The first roster slot must be a captain!</div>
                <mat-grid-list cols="1" rowHeight="53px">
                    
                    <mat-grid-tile
                        *ngFor="let character of leftRoster; let i = index"
                        [colspan]=1
                        [rowspan]=1
                        [style.background]="character.color">
        
                        <app-character-rect [character]=character (click)="onRosterListItemClick(i, 'left')"></app-character-rect>

                    </mat-grid-tile>
                </mat-grid-list>

            </div>
        </mat-card>     
            

        <mat-card class="roster-col">
            <div class="roster-col-options">

            </div>
            <div class="roster">
                <mat-grid-list cols="1" rowHeight="53px">
                    
                    <mat-grid-tile
                        *ngFor="let character of rightRoster; let i = index"
                        [colspan]=1
                        [rowspan]=1
                        [style.background]="character.color">
        
                        <app-character-rect [character]=character (click)="onRosterListItemClick(i, 'right')"></app-character-rect>
 
                    </mat-grid-tile>
                </mat-grid-list>

            </div>
        </mat-card>   

    </div>

    <div class="divider-section">
        <mat-list-item class="unpicked-characters-font">Unpicked Characters</mat-list-item>
        <mat-divider class="divider"></mat-divider>
    </div>

    <div class="unpicked-section">
        <mat-grid-list cols="4" rowHeight="53px">
            <mat-grid-tile
                *ngFor="let character of unpickedCharacters; let i = index"
                [colspan]=1
                [rowspan]=1
                [style.background]="character.color">

                <app-character-rect [character]=character (click)="onRosterListItemClick(i, 'unpicked')"></app-character-rect>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card>
