.match-up-card {
    box-shadow: var(--card-shadow);
    min-height: 1000px;
    background-color: var(--background-color);
}

.rosters-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.character-rect {
    display: flex;
    background-color: var(--object-bg);
    color: var(--object-text-color);
    width: 160px;
    height: 40px;
    align-content: center;
    font-size: 10px;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
    margin: 12px;
}
.character-rect:hover {
    background-color: var(--object-bg-b);
    box-shadow: var(--card-shadow);
    border-color: var(--accent-color);
    border-width: 3px;
    border-style: solid;
}

.character-rect-selected {
    display: flex;
    color: var(--object-text-color);
    width: 160px;
    height: 40px;
    align-content: center;
    font-size: 10px;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
    margin: 12px;

    background-color: var(--object-bg-b);
    box-shadow: var(--card-shadow);
    border-color: var(--primary-color);
    border-width: 3px;
    border-style: solid;
}


.character-id {
    background-color: var(--accent-color); 
    color: var(--secondary-color); 
    height: 16px;
    width: 18px;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

.character-header-image {
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 8px;
    margin: 4px;
    border-color: rgb(139, 137, 137);
    /* border-width: 1px;
    border-style: solid; */
}

.character-name {
    font: bold;
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.character-id-text {
    margin: auto;

}

.right-col {
    width: 100%;
}

.right-col-top {
    display: flex;
}

.right-col-bot {
    margin: auto;
}

.captain-symbol {
    font: bold;
    color: var(--alt-contrast-secondary-color);
}

.stat-col-group {
    display: flex;
    width: fit-content;
    margin: auto;
}

.left-col {
    color: var(--object-fancy-text-color);
    /* height: 54px; */
}

.stat-col {
    width: 20px;
}

.stat-name {

}

.stat-num {

}

.sort-by-button {
    background-color: var(--secondary-color);
    box-shadow: var(--card-shadow);
    margin-right: 15px;
    margin: auto;
}

.sort-text {
    margin-right: 15px;
}

.divider {
}

.divider-section {
    margin: 20px 0px;
}

.unpicked-characters-font {
    font-size: 26px;
    color: var(--accent-color);
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .roster-table {
      
  }

  .roster-header {
    margin: auto;
    text-align: center;
    font-size: 13px; 
    color: var(--alt-contrast-primary-color);
    height: 24px;
  }

  .roster-instruction {
    margin: auto;
    text-align: center;
    font-size: 30px; 
    color: var(--object-fancy-text-color);
    height: 65px;
    padding-bottom: 8px;
  }

  .roster-col {
      width: 300px;
      margin: auto;
      padding: 4px;
      background-color: var(--object-color);
  }

  .rosters-section {
      display: flex;
      width: 100%;
      margin: auto;
      padding: 4px; 
  }

  .match-up-card {
      margin: auto;
  }
/* 
  .rosters-section {
      display: flex;
  } */
  .random-button{    
        width: 100px;
        background-color: var(--object-bg-b);
        background-image: linear-gradient(to bottom right, var(--object-bg-b), rgb(219, 255, 244));
        margin: auto;
  }
  .random-button-longer {
        width: 180px;
  }

  .roster-col-options {
        display: flex;
        width: 100%;
        margin: auto;
  }
  .roster-col-option-buttons-row {
        width: 100%;
        display: flex;
        margin: 20px;
  }

  .team-picker {
      color: var(--object-fancy-text-color);
  }