/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {

    --content-width: 800px;

    --primary-color: rgb(102, 168, 255);
    --secondary-color: rgb(255, 255, 255);
    --accent-color: rgb(59, 143, 253);
    --object-color: rgb(219, 220, 221);
    --object-color-brighter: rgb(204, 220, 255);
    --object-fancy-text-color: rgb(59, 143, 253);
    --object-text-color: rgb(46, 46, 46);
    --alt-background-color: rgb(83, 83, 83);
    --alt-contrast-primary-color: rgb(0, 255, 242);
    --alt-contrast-secondary-color: rgb(255, 0, 98);

    --footer-link-color: rgb(0, 0, 0);

    --simple-shadow: 1px 1px 3px #888888;
    --thin-shadow: 0px 1px 2px #a8a5a5;
    --card-shadow: 1px 1px 4px #a8a5a5;
}


