<div [hidden]=false>
    <mat-card class="collections-card">
    
        <div class="collection-section">
            <mat-card class="table-card section-card">
                <mat-card-title>{{title}}</mat-card-title>
                <table mat-table [dataSource]="dataSource" matSort class="collection-table">


                    <!-- 'name', 'number', 'info', 'bat', 'run' -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="hdName(event)"> name </th>
                        <td mat-cell *matCellDef="let tile"> {{tile.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> number </th>
                        <td mat-cell *matCellDef="let tile"> {{tile.number}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="info">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> info </th>
                        <td mat-cell *matCellDef="let tile"> {{tile.info}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="bat">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> bat </th>
                        <td mat-cell *matCellDef="let tile"> {{tile.bat}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="run">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> run </th>
                        <td mat-cell *matCellDef="let tile"> {{tile.run}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>

    </mat-card>    
</div>